:root {
  --bg: #1e1e2e;
  --card-bg: #252538;
  --text: #cdd6f4;
  --primary: #a6e3a1; /* Verde para descargas */
  --danger: #f38ba8;
  --accent: #f9e2af;
}
#player-section{
  width: 94%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  /*display: flex;*/
  justify-content: center;
  padding: 20px;
}

.card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #45475a;
  background: #313244;
  color: var(--text);
  box-sizing: border-box;
}

button {
  background: var(--primary);
  color: #11111b;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

button:hover { opacity: 0.9; }
.btn-danger { background: var(--danger); color: white; width: auto; }
.btn-download { background: var(--primary); color: #11111b; width: auto; padding: 6px 14px; font-size: 0.9rem; }

.hidden { display: none !important; }
.error { color: var(--danger); font-size: 0.9rem; }

/* Barra de progreso de descarga */
.progress-bar { background: #313244; border-radius: 4px; height: 10px; width: 100%; overflow: hidden; margin-top: 10px; }
#progress-fill { background: var(--primary); height: 100%; width: 0%; transition: width 0.3s; }

.table-responsive { overflow-x: auto; }
table { width: 100%; border-collapse: collapse; }
th, td { padding: 12px; text-align: left; border-bottom: 1px solid #45475a; }
td { max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }